<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LPD -->
      <package
            uri="http://LDP/1.0"
            class="LDP.LDPPackage"
            genModel="metamodels/LPD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LPDSequence -->
      <package
            uri="http://LDPSequence/1.0"
            class="LDP2.LDP2Package"
            genModel="metamodels/LPDSequence.genmodel"/>
   </extension>

</plugin>
